body {
    margin: 0;
    background-color: rgb(228, 236, 229);
}

.header {
    display: grid;
    background-color: rgb(194, 218, 198);
    height: 200px;
    font-family:cursive;
    grid-template-columns: 18% 62% 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0px 55px 0px 80px;
    margin: 0;
}

h1 {
    color: rgb(87, 59, 26);
    font-size: 43px;
}

.logo {
    width: 150px;
    background-color: rgb(233, 218, 171);
    border: 4px solid rgb(145, 100, 41);
    border-radius: 40px;
}

.btn {
    border: 2px solid rgb(145, 100, 41);
    background-color: rgb(233, 218, 171);
    height: 60px;
    width: 120px;
}

a {
    text-decoration: none;
    color: rgb(145, 100, 41);
    font-size: 20px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgprod {
    width: 200px;
    padding-bottom: 35px;
}

.board {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: space-around;
    margin-left: 130px;
}

.product {
    border: 3px solid rgb(145, 100, 41);
    border-radius: 15px;
    padding: 100px 100px 70px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
    color: rgb(87, 59, 26);
    font-size: 25px;
    margin: 50px 50px 30px 50px
}

.btnBuy {
    background-color: rgb(146, 194, 154);
    padding: 15px 70px 15px 70px;
    font-size: 27px;
    font-family: cursive;
    margin-top: 30px;
    border: 3px solid rgb(131, 91, 38);
    color: rgb(87, 59, 26);
    font-weight: bold;
    cursor: pointer;
}

p {
    margin-top: 0;
}

.btnBuy:hover {
    background-color: rgb(233, 218, 171);
}

.btnBuy:active {
    background-color: rgb(61, 158, 77);
}

.btn:hover {
    background-color: rgb(218, 204, 164);
}

.product-header {
    color: rgb(87, 59, 26);
    font-family: cursive;
    font-size: 23px;
    font-weight: bold;
    margin: 25px 120px 0px 120px;
    border-bottom: 5px solid rgb(212, 199, 159);
    display: grid;
    grid-template-columns: 20% 35% 15% 15% 15%;
    justify-items: center;
    align-items: center;
}

.cart{
    margin: 25px 120px 25px 120px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: cursive;
    color: rgb(87, 59, 26);
    display: grid;
    grid-template-columns: 10% 10% 35% 15% 15% 15%;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid rgb(212, 199, 159);
}

.imgCart {
    width: 100px;
    align-self: center;
}

.delete {
    color: rgb(212, 199, 159);
    background-color: rgb(87, 59, 26);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid rgb(87, 59, 26);
    font-weight: bold;
    cursor: pointer;
}

.delete:active {
    color: rgb(87, 59, 26);
    background-color: rgb(212, 199, 159);
    border: rgb(212, 199, 159);
}
